---
const { title } = Astro.props;
---

<div class="bg-white p-8 rounded-lg shadow-md max-w-screen-md mx-auto my-8">
    <h2 class="text-3xl font-semibold mb-6 text-center">
        {title}
    </h2>
    <slot />
</div>
