---
const { title } = Astro.props;
import Header from "../components/Header";
import "../components/App.css"
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
  </head>
  <header>
    <Header client:load />
  </header>
  <body>
      <slot /> <!-- your content is injected here -->
  </body>
</html>